.flexible-description-text {
  padding-bottom: 10px;
}

.button.flexible-description-action {
  height: auto;
  margin: 0;
  padding: 5px 10px;
  font-size: inherit;
  line-height: normal;
}

.flexible-description-label {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 10px;
}

textarea[name="description-text"] {
  resize: none;
}
