{# Do not use form here cuz it leads to invalid HTML + gitlab ci tests gonna fail because of nested form element #}
<div class="flexible-description-htmx-form" hx-swap="outerHTML">
  <div class="form-group">
    <label class="flexible-description-label">{{ 'Description text'|t }}
      <textarea class="flexible-descriptions-htmx-input" name="description-text">{{ description_text }}</textarea>
    </label>
    {# Remember identifiers cuz it's required when creating an entity #}
    <input class="flexible-descriptions-htmx-input" type="hidden" name="description-identifier" value="{{ description_identifier }}">
    <input class="flexible-descriptions-htmx-input" type="hidden" name="description-id" value="{{ description_id }}">
  </div>
  {% set post_url = current_langcode ? "/" ~ current_langcode ~ "/flexible-description-htmx" : "/flexible-description-htmx" %}
  {% set cancel_url = current_langcode ? "/" ~ current_langcode ~ "/flexible-description-htmx/cancel/" ~ description_identifier ~ "/" ~ description_id : "/flexible-description-htmx/cancel/" ~ description_identifier ~ "/" ~ description_id %}
  <button id="{{ description_identifier }}" hx-target="closest .flexible-description-htmx-form" hx-include=".flexible-descriptions-htmx-input" hx-post="{{ post_url }}" class="btn flexible-description-action button btn-primary">{{ 'Save'|t }}</button>
  <button hx-target="closest .flexible-description-htmx-form" class="btn flexible-description-action button" hx-get="{{ cancel_url }}">{{ 'Cancel'|t }}</button>
</div>
